// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: "Microsoft YaHei", "Optima", sans-serif;
$serif: "Microsoft YaHei", "Baskerville", serif;
$mono: "Consolas", "Courier", monospace, "Microsoft YaHei";
$heading-font-family: "Microsoft YaHei", "Verdana", sans-serif;
$header-title-font-family: "Microsoft YaHei", "Futura", sans-serif;
$header-subtitle-font-family: "Microsoft YaHei", "Futura", sans-serif;
